body {
    width: 100%;
    background-color: #0c0b0f;
}

.the-header {
    height: 50px;
    display: flex;
    width: 80%;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0 15px;
}

.the-header:hover {
    box-shadow: 0px 0.5px 15px #00db3c;

}

#img-shield {
    width: 20px;
    height: 20px;
}

#img-shield:hover {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
    width: 22px;
    height: 22px;
    box-shadow: 1px 1px 10px 6px #00db3c;
    border-radius: 30px;
}

#shield-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #00db3c;
    border: 1px solid black;
    border-radius: 50%;
}

#header-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid #00db3c;
    border-radius: 15px;
    width: 20%;
    height: 20px;

}

#flickering {
    width: 10px;
    height: 10px;
    background-color: #00db3c;
    border-radius: 50px;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0.3;
    }
}

i {
    color: #00db3c;
}

#dot {
    width: 5px;
    height: 5px;
    background-color: #00db3c;
    border-radius: 50px;
}

.the-main {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(0, auto);
    width: 80%;
    overflow: hidden;
    height: auto;

}

.the-sonar {
    margin-top: 15px;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    border: 1px solid #495b75;
    border-radius: 20px;
    background-color: #140f1e;

}

.the-sonar:hover {
    border-color: #00db3c;
    transition: border-color 0.5s ease-out;

}



.radar,
.sweep {
    position: relative;
}

.radar {
    overflow: hidden;
    grid-row: 2/5;
    align-self: center;
    border-radius: 50%;
    margin-left: 10px;

    width: 248px;
    height: 248px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    background:
        repeating-radial-gradient(transparent 0 23px, #287a33 24px 26px, #0000 27px),
        linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(#333, #111);
    background-size: 100%, 218px 218px, 218px 218px, 100%;
}

.sweep {
    box-sizing: border-box;
    top: 16px;
    left: 16px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 108px;
    height: 108px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}

#h1 {
    color: #00db3c;
    font-size: xx-large;
    grid-row: 2/3;
    grid-column: 5/12;
    align-content: end;
    padding-bottom: 10px;
}

#h2 {
    color: #00db3c;
    font-size: xx-large;
    grid-row: 3/4;
    grid-column: 5/12;
    align-content: end;
    padding-bottom: 10px;
}

#text1 {

    color: gray;
    font-size: small;
    grid-column: 5/12;
    grid-row: 3/4;
    align-content: start;

}

#text2 {

    color: gray;
    font-size: small;
    grid-column: 5/12;
    grid-row: span 2;
    align-content: start;

}

.options {
    height: 4rem;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
    grid-template-rows: minmax(0, auto);

}

#brief {
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 30px;
    grid-row: span 1;
    grid-column: span 2;
    background-color: #140f1e;
    border: 1px solid #495b75;

}

#decode {
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 30px;
    grid-row: span 1;
    grid-column: span 2;
    background-color: #140f1e;
    border: 1px solid #495b75;

}

#drone {
    height: 40px;
    width: 150px;
    justify-content: center;
    align-self: center;
    color: white;
    border-radius: 30px;
    grid-row: span 1;
    grid-column: span 2;
    background-color: #140f1e;
    border: 1px solid #495b75;

}

#brief:hover,
#decode:hover,
#drone:hover {
    border: 1px solid #00db3c;
    box-shadow: inset 1px 1px 30px 1px #287a33;
    transition: border 0.3s ease-in;
    margin-bottom: 10px;
}

.information {
    margin-top: 15px;
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    background-color: #140f1e;
    justify-content: space-between;
}


.note1 {
    grid-column: 1/2;
    border: 1px solid gray;
    width: 150px;
    height: 110px;
    border-radius: 20px;
    color: #00db3c;
    width: 200px;
    box-shadow: -4px 0 0 0 #17da51;
    margin-left: 5px;
}

.note2 {
    grid-column: 2/3;
    border: 1px solid gray;
    width: 150px;
    height: 110px;
    border-radius: 20px;
    color: #00db3c;
    width: 200px;
    box-shadow: -4px 0 0 0 #d8a92a;
}

.note3 {
    grid-column: 3/4;
    border: 1px solid gray;
    width: 150px;
    height: 110px;
    border-radius: 20px;
    color: #00db3c;
    width: 200px;
    box-shadow: -4px 0 0 0 #17da51;
}

.note4 {
    grid-column: 4/5;
    border: 1px solid gray;
    width: 150px;
    height: 110px;
    border-radius: 20px;
    color: #00db3c;
    width: 200px;
    box-shadow: -4px 0 0 0 #d8a92a;
}

.delete-button {
    height: 40px;
    margin-top: 15px;
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid #58182c;
    border-radius: 15px;
    background-color: #230f19;
}

.delete-button:hover{
    border: 5px solid #230f19;
    border-radius: 15px;
    background-color: #58182c;
}

.delete-button div {
    width: 10px;
    height: 10px;
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: start;
    margin-left: 20px;
    background-color: #b02e50;
    border-radius: 50px;
}

.delete-button span {
    color: #b02e50;
    /* font-family: ; */
    grid-column: 5/8;
    grid-row: 3/4;
}

.figure-footer {
    margin-top: 15px;
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    border: 1px solid #495b75;
    border-radius: 20px;
    background-color: #140f1e;
}




.figure-footer img {
    grid-row: 4/5;
    align-items: center;
    width: 24px;
    height: 24px;
}

.figure-footer figcaption {
    grid-row: 5/6;

}